<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/electronic.css" />

    <title>ELECTRONICS</title>
  </head>
  <body>
    <main>
      <section class="electronic-section">
        <p class="electronic-head">Rent To Own Electronics</p>
        <div class="electronic-page-container">
          <div class="filter-side">
            <p class="filter-header"><b>FIND WHAT YOU NEED</b></p>
            <form action="#">
              <label for="price">Max</label>
              <input
                class="price-filter"
                type="number"
                id="price"
                placeholder="Maximum"
              />
              <label for="price"> Min</label>
              <input
                class="price-filter"
                type="number"
                id="price"
                placeholder="Minimum"
              />
            </form>
            <div>
              <label for="city">City</label>
              <br />
              <select name="city-list" id="city">
                <option value="Addis Ababa">Addis Ababa</option>
                <option value="Jimma">Jimma</option>
                <option value="Jimma">Adama</option>
                <option value="Bahir Dar">Bahir Dar</option>
                <option value="Nekemte">Nekemte</option>
                <option value="Hawassa">Hawassa</option>
                <option value="Dire Dawa">Dire Dawa</option>
                <option value="Jigjiga">Jigjiga</option>
                <option value="Mekele">Mekele</option>
                <option value="Mekele">Ambo</option>
                <option value="Mekele">Lega Tafo</option>
              </select>
            </div>
            <p class="price">PRICE TYPE</p>

            <input type="radio" name="price" id="price-type" vlaue="fixed" />
            <label for="price-type">Fixed</label>
            <input
              type="radio"
              name="price"
              id="price-type"
              value="Negotiable"
            />
            <label for="price-type-filter">Negotiable</label>

            <input class="submit-filter" type="submit" value="FIND" />
          </div>
          <div class="electronic-container">
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">JPL partybox 110 party speaker</p>
                  <p class="electronic-price">600 ETB/Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="electronic-address">Addis Ababa</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn5.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">
                    Yamaha P-145 88-key Digital Piano
                  </p>
                  <p class="electronic-price">650 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="electronic-address">Jigjiga</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0911554325')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="house-img"
                  src="../../images/electronic-img/electn2.png"
                  alt=""
                  height="240px"
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">
                    Rode NT15th generation microphone
                  </p>
                  <p class="electronic-price">700 ETB/ day</p>
                  <p class="price-type">Fixed</p>
                  <p class="electronic-address">Jimma</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0940404043')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn7.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">
                    Steinberg UR24C Audio Interface
                  </p>
                  <p class="electronic-price">900 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="electronic-address">Lega Tafo</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0944278943')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn4.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Shure MV7+Podcast Kit</p>
                  <p class="electronic-price">500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="electronic-address">Adama</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0917054545')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn1.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Sony SRS-XP500</p>
                  <p class="electronic-price">250 ETB/ Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="electronic-address">Nekemte</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0919560678')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn3.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">JBL Partybox Encore</p>
                  <p class="electronic-price">500 ETB/ Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="electronic-address">Hawassa</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn6.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Sony AX43 HandyCam</p>
                  <p class="electronic-price">750 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="electronic-address">Ambo</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '093678999')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn8.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Numark Scracht Mixer</p>
                  <p class="electronic-price">350 ETB/ Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="electronic-address">Hawassa</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn9.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Canon EOS R7,RF-S 18-150mm</p>
                  <p class="electronic-price">1500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="electronic-address">Jimma</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn12.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Thecnogym Elleptical</p>
                  <p class="electronic-price">2500 ETB/ Month</p>
                  <p class="price-type">Negotiable</p>
                  <p class="electronic-address">Nekemte</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="electronic-box">
              <div class="electronic">
                <img
                  class="electronic-img"
                  src="../../images/electronic-img/electn13.png"
                  alt=""
                />
                <div class="div electronic-explanation">
                  <p class="electronic-title">Apple27"iMac Retina 5K</p>
                  <p class="electronic-price">250 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Batu</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0912456705')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        </div>
      </section>
    </main>
    <script src="../electronics/electronic.js"></script>
  </body>
</html>
