<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-in Page</title>
    <link rel="stylesheet" href="../../../styles/password.css" />
  </head>
  <body>
    <header class="header-contents">
      <ul class="top-links">
        <li>
          <a href="../../home/index.php">HOME</a>
        </li>
        <li>
          <a href="../login/LOGIN.html">Sign-in</a>
        </li>
        <li>
          <a href="../create/CREATE.html">Register</a>
        </li>
        <li>
          <a href="../reset/">Reset Account</a>
        </li>
      </ul>
      <br /><br />
    </header>
    <section>
      <div class="signin-container">
        <h2>Enter your password</h2>
        <form>
          <label for="password">Password</label>
          <div class="password-container">
            <span class="icon">&#128274;</span>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
            />
          </div>
          <div class="remember-me">
            <input type="checkbox" id="remember" name="remember" />
            <label for="remember">Remember Me</label>
          </div>
          <button type="submit" class="continue-btn">Continue</button>
        </form>
        <a href="../reset/reset.html" class="forgot-password"
          >🔑 Forgot password</a
        >
      </div>
    </section>
  </body>
</html>
