<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in Page</title>
    <link rel="stylesheet" href="../../../styles/login.css">
</head>
<body>
    <header class="header-contents">
        <ul class="top-links">
            <li>
                <a href="../../home/index.php">HOME</a>
            </li>
            <li>
                <a href="../login/LOGIN.html">Sign-in</a>
            </li>
            <li>
                <a href="../create/CREATE.html">Register</a>
            </li>
            <li>
                <a href="../reset/reset.html">Reset Account</a>
            </li>
        </ul>
    </header>
    <section class="signin-container">
        <div class="card">
            <div class="GORENT-LOGIN">
                <a href="#">GO-RENT🙋‍♂️</a>
            </div>
            <h2>Sign-in</h2>
            <form action="../password/password.html">
                <label for="email">Email</label>
                <div class="input-group">
                    <span class="icon">📧</span>
                    <input type="email" id="email" placeholder="Email" required> <br>
                </div>
                <div>
                <button type="submit" class="btn-continue">continue</a></button>
                </div>
                <div class="form-links">
                    <a href="reset.html">Help</a>
                    <a href="../reset/reset.html" class="forgot-password">Forgot password</a>
                </div>
            </form>
            <p class="new-account-text">---------New to gorent---------</p>
            <button class="btn-create-account"><a href="../create/CREATE.html">create gorent acocount</a> </button>
            <p class="or-text"></p>
        
        </div>
    </section>
</body>
</html>
