<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/clothes.css" />

    <title>Clothes</title>
  </head>
  <body>
    <main>
      <section class="clothe-section">
        <p class="clothe-head">Your Favourities clothes, Just a Click Away</p>
        <div class="clothe-page-container">
          <div class="filter-side">
            <p class="filter-header"><b>FIND YOUR MATCH</b></p>
            <form action="#">
              <label for="price">Max</label>
              <input
                class="price-filter"
                type="number"
                id="price"
                placeholder="Maximum"
              />
              <label for="price"> Min</label>
              <input
                class="price-filter"
                type="number"
                id="price"
                placeholder="Minimum"
              />
            </form>
            <div>
              <label for="city">City</label>
              <br />
              <select name="city-list" id="city">
                <option value="Addis Ababa">Addis Ababa</option>
                <option value="Jimma">Jimma</option>
                <option value="Jimma">Adama</option>
                <option value="Bahir Dar">Bahir Dar</option>
                <option value="Nekemte">Nekemte</option>
                <option value="Hawassa">Hawassa</option>
                <option value="Dire Dawa">Dire Dawa</option>
                <option value="Jigjiga">Jigjiga</option>
                <option value="Mekele">Mekele</option>
                <option value="Mekele">Ambo</option>
                <option value="Mekele">Lega Tafo</option>
              </select>
            </div>
            <p class="price">PRICE TYPE</p>

            <input type="radio" name="price" id="price-type" vlaue="fixed" />
            <label for="price-type">Fixed</label>
            <input
              type="radio"
              name="price"
              id="price-type"
              value="Negotiable"
            />
            <label for="price-type-filter">Negotiable</label>

            <input class="submit-filter" type="submit" value="FIND" />
          </div>
          <div class="clothe-container">
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/thom-browne.jpg"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">THOM-BROWNE</p>
                  <p class="clothe-price">3000 ETB/Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="clothe-address">Addis Ababa, Bole</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe1.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">WENDABO</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="clothe-address">Nekemte, Bord</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0911554325')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="house-img"
                  src="../../images/clothe-img/clothe8.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Jimma-clothe</p>
                  <p class="clothe-price">2200 ETB/ day</p>
                  <p class="price-type">Fixed</p>
                  <p class="clothe-address">Jimma, Ginjo</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0940404043')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe6.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Hawassa-clothe</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Fixed</p>
                  <p class="clothe-address">Hawassa</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0944278943')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe3.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">SILTE</p>
                  <p class="clothe-price">2000 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Adama, Bole</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0917054545')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe7.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">RAYA</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Raya</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0919560678')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe11.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Wedding-clothe</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Burayu</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe9.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Ambassador</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Ambo</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '093678999')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe10.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Turkey</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Laghar</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe12.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Wedding-Dress</p>
                  <p class="clothe-price">3500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Jimma</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe4.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Wallaga</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Nekemte</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0915050505')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
            <div class="clothe-box">
              <div class="clothe">
                <img
                  class="clothe-img"
                  src="../../images/clothe-img/clothe13.png"
                  alt=""
                />
                <div class="div clothe-explanation">
                  <p class="clothe-title">Hararge</p>
                  <p class="clothe-price">2500 ETB/ Day</p>
                  <p class="price-type">Negotiable</p>
                  <p class="clothe-address">Batu</p>
                </div>
                <div class="saved-phone-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="saved-icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <p
                    class="show-phone"
                    id="toggleText"
                    onclick="toggleContent(this, '0912456705')"
                  >
                    SHOW PHONE
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        </div>
      </section>
    </main>
    <script src="../../components/cloth/clothe.js"></script>
  </body>
</html>
